In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso, Ridge

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split # Divide el dataset en testeo y entrenamiento

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRFRegressor

from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
#Descargar datos
!wget https://raw.githubusercontent.com/jsrpy/NYC-Property-Regression/master/real_estate_data.csv

--2022-10-06 11:21:38--  https://raw.githubusercontent.com/jsrpy/NYC-Property-Regression/master/real_estate_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 252295 (246K) [text/plain]
Saving to: ‘real_estate_data.csv’

real_estate_data.cs 100%[===================>] 246.38K  --.-KB/s    in 0.03s

2022-10-06 11:21:38 (7.84 MB/s) - ‘real_estate_data.csv’ saved [252295/252295]

In [ ]:
df = pd.read_csv('real_estate_data.csv')
df.head()

,tx_price,beds,baths,sqft,year_built,lot_size,property_type,exterior_walls,roof,basement,...,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year
0,295850,1,1,584,2013,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,47,58,33.0,65.0,84.0,234.0,81.0,9.0,3.0,2013
1,216500,1,1,612,1965,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,26,14,39.0,73.0,69.0,169.0,51.0,3.0,3.0,2006
2,279900,1,1,615,1963,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,74,62,28.0,15.0,86.0,216.0,74.0,8.0,3.0,2012
3,379900,1,1,618,2000,33541,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,72,83,36.0,25.0,91.0,265.0,92.0,9.0,3.0,2005
4,340000,1,1,634,1992,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,50,73,37.0,20.0,75.0,88.0,30.0,9.0,3.0,2002

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883 entries, 0 to 1882
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tx_price            1883 non-null   int64
 1   beds                1883 non-null   int64
 2   baths               1883 non-null   int64
 3   sqft                1883 non-null   int64
 4   year_built          1883 non-null   int64
 5   lot_size            1883 non-null   int64
 6   property_type       1883 non-null   object
 7   exterior_walls      1660 non-null   object
 8   roof                1529 non-null   object
 9   basement            1657 non-null   float64
 10  restaurants         1883 non-null   int64
 11  groceries           1883 non-null   int64
 12  nightlife           1883 non-null   int64
 13  cafes               1883 non-null   int64
 14  shopping            1883 non-null   int64
 15  arts_entertainment  1883 non-null   int64
 16  beauty_spas         1883 non-null   int64
 17  active_life         1883 non-null   int64
 18  median_age          1883 non-null   float64
 19  married             1883 non-null   float64
 20  college_grad        1883 non-null   float64
 21  property_tax        1883 non-null   float64
 22  insurance           1883 non-null   float64
 23  median_school       1883 non-null   float64
 24  num_schools         1883 non-null   float64
 25  tx_year             1883 non-null   int64
dtypes: float64(8), int64(15), object(3)
memory usage: 382.6+ KB

#Manejo de datos nulos

In [ ]:
# Preguntar que filas tienen datos nulos
df.isnull().any()

tx_price              False
beds                  False
baths                 False
sqft                  False
year_built            False
lot_size              False
property_type         False
exterior_walls         True
roof                   True
basement               True
restaurants           False
groceries             False
nightlife             False
cafes                 False
shopping              False
arts_entertainment    False
beauty_spas           False
active_life           False
median_age            False
married               False
college_grad          False
property_tax          False
insurance             False
median_school         False
num_schools           False
tx_year               False
dtype: bool

In [ ]:
print(sum(df.exterior_walls.isnull())) #Es equivalente a df['exterior_walls']
print(sum(df.roof.isnull()))
print(sum(df.basement.isnull()))

223
354
226

In [ ]:
#Devuelve datos estadísticos de las columnas numéricas
df.describe()

,tx_price,beds,baths,sqft,year_built,lot_size,basement,restaurants,groceries,nightlife,...,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year
count,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1.883000e+03,1657.0,1883.000000,1883.000000,1883.000000,...,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000,1883.000000
mean,422839.807754,3.420605,2.579926,2329.398832,1982.963887,1.339262e+04,1.0,40.210303,4.505045,5.074881,...,23.416888,15.835369,38.601168,69.091875,65.085502,466.777483,140.454063,6.502921,2.793415,2007.111524
std,151462.593276,1.068554,0.945576,1336.991858,20.295945,4.494930e+04,0.0,46.867012,4.491029,8.464668,...,25.776916,17.667717,6.634110,19.659767,16.953165,231.656645,72.929765,1.996109,0.505358,5.196898
min,200000.000000,1.000000,1.000000,500.000000,1880.000000,0.000000e+00,1.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,22.000000,11.000000,5.000000,88.000000,30.000000,1.000000,1.000000,1993.000000
25%,300000.000000,3.000000,2.000000,1345.000000,1970.000000,1.542000e+03,1.0,7.000000,1.000000,0.000000,...,4.000000,4.000000,33.000000,58.000000,54.000000,320.000000,94.000000,5.000000,3.000000,2004.000000
50%,392000.000000,3.000000,3.000000,1907.000000,1986.000000,6.098000e+03,1.0,23.000000,3.000000,2.000000,...,15.000000,10.000000,38.000000,73.000000,66.000000,426.000000,125.000000,7.000000,3.000000,2007.000000
75%,525000.000000,4.000000,3.000000,3005.000000,2000.000000,1.176100e+04,1.0,58.000000,7.000000,6.000000,...,35.000000,21.000000,43.000000,84.000000,78.000000,569.000000,169.000000,8.000000,3.000000,2011.000000
max,800000.000000,5.000000,6.000000,8450.000000,2015.000000,1.220551e+06,1.0,266.000000,24.000000,54.000000,...,177.000000,94.000000,69.000000,100.000000,100.000000,4508.000000,1374.000000,10.000000,4.000000,2016.000000

In [ ]:
#Cuantas muestras tienen 0 en lot size
df.lot_size.isin([0]).sum()

352

In [ ]:
#Eliminamos columnas "basement" y "lot_size"
#Se borra lot_size porque el valor mínimo en la columna es 0 y hay 352 valores que son 0, como es un valor determinante para el precio de la casa, es
#mejor eliminarlo al tener tantos 0's, haciendo que el modelo se equivoque
df_filter = df.drop(['basement','lot_size'], axis=1)

##Tratamiento Columa Roof

In [ ]:
#Columna roof
df_filter.roof.unique()

array([nan, 'Composition Shingle', 'Other', 'Gravel/Rock',
       'Roll Composition', 'Asphalt', 'Slate', 'asphalt', 'Shake Shingle',
       'Built-up', 'Asbestos', 'Metal', 'shake-shingle',
       'Wood Shake/ Shingles', 'Composition', 'composition',
       'asphalt,shake-shingle'], dtype=object)

In [ ]:
df_filter.roof.value_counts()

Composition Shingle      1179
Asphalt                   132
Shake Shingle              55
Other                      49
Gravel/Rock                30
Wood Shake/ Shingles       30
Roll Composition           12
Slate                       9
Asbestos                    9
asphalt                     5
Composition                 5
Metal                       4
composition                 4
shake-shingle               3
Built-up                    2
asphalt,shake-shingle       1
Name: roof, dtype: int64

In [ ]:
# Reemplazamos los valores o categorías de una columna
df_filter.roof.replace('composition','Composition',inplace=True)
df_filter.roof.replace('asphalt','Asphalt',inplace=True)
df_filter.roof.replace(['asphalt,shake-shingle','shake-shingle', 'Wood Shake/ Shingles', 'Shake Shingle', 'Composition Shingle'],'Shingle',inplace=True)

In [ ]:
#Cuenta cuantos valores de cada categoría existen en la columna roof
df_filter.roof.value_counts()

Shingle             1268
Asphalt              137
Other                 49
Gravel/Rock           30
Roll Composition      12
Slate                  9
Asbestos               9
Composition            9
Metal                  4
Built-up               2
Name: roof, dtype: int64

In [ ]:
sum(df.roof.isnull())

354

In [ ]:
#Rellenar los NaN con 'newNaN'
df_filter.roof.fillna('newNAN', inplace=True)

In [ ]:
sum(df_filter.roof.isnull())

0

In [ ]:
df_filter.roof.value_counts()

Shingle             1268
newNAN               354
Asphalt              137
Other                 49
Gravel/Rock           30
Roll Composition      12
Slate                  9
Asbestos               9
Composition            9
Metal                  4
Built-up               2
Name: roof, dtype: int64

##Tratamiento Columna Exterior Walls

In [ ]:
#Columna Exterior walls
df_filter.exterior_walls.value_counts()

Brick                  687
Siding (Alum/Vinyl)    503
Metal                  120
Combination            107
Wood                    72
Wood Siding             49
Brick veneer            48
Stucco                  26
Other                   10
Concrete                 8
Concrete Block           7
Block                    7
Asbestos shingle         6
Rock, Stone              5
Masonry                  3
Wood Shingle             2
Name: exterior_walls, dtype: int64

In [ ]:
df_filter.exterior_walls.replace(['Wood Siding', 'Asbestos shingle', 'Wood Shingle'],'Wood',inplace=True)
df_filter.exterior_walls.replace(['Rock, Stone','Concrete', 'Concrete Block'],'Block',inplace=True)
df_filter.exterior_walls.replace(['Masonry', 'Brick veneer'],'Brick', inplace=True)

In [ ]:
df_filter.exterior_walls.value_counts()

Brick                  738
Siding (Alum/Vinyl)    503
Wood                   129
Metal                  120
Combination            107
Block                   27
Stucco                  26
Other                   10
Name: exterior_walls, dtype: int64

In [ ]:
sum(df_filter.exterior_walls.isnull())

223

In [ ]:
df_filter.exterior_walls.fillna('newNan',inplace=True)

In [ ]:
df_filter.exterior_walls.value_counts()

Brick                  738
Siding (Alum/Vinyl)    503
newNan                 223
Wood                   129
Metal                  120
Combination            107
Block                   27
Stucco                  26
Other                   10
Name: exterior_walls, dtype: int64

#Transformación y codificación de las columnas categóricas

In [ ]:
df_filter = pd.get_dummies(df_filter)
df_filter.head()

,tx_price,beds,baths,sqft,year_built,restaurants,groceries,nightlife,cafes,shopping,...,roof_Asphalt,roof_Built-up,roof_Composition,roof_Gravel/Rock,roof_Metal,roof_Other,roof_Roll Composition,roof_Shingle,roof_Slate,roof_newNAN
0,295850,1,1,584,2013,107,9,30,19,89,...,0,0,0,0,0,0,0,0,0,1
1,216500,1,1,612,1965,105,15,6,13,87,...,0,0,0,0,0,0,0,1,0,0
2,279900,1,1,615,1963,183,13,31,30,101,...,0,0,0,0,0,0,0,0,0,1
3,379900,1,1,618,2000,198,9,38,25,127,...,0,0,0,0,0,0,0,0,0,1
4,340000,1,1,634,1992,149,7,22,20,83,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883 entries, 0 to 1882
Data columns (total 43 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   tx_price                                     1883 non-null   int64
 1   beds                                         1883 non-null   int64
 2   baths                                        1883 non-null   int64
 3   sqft                                         1883 non-null   int64
 4   year_built                                   1883 non-null   int64
 5   restaurants                                  1883 non-null   int64
 6   groceries                                    1883 non-null   int64
 7   nightlife                                    1883 non-null   int64
 8   cafes                                        1883 non-null   int64
 9   shopping                                     1883 non-null   int64
 10  arts_entertainment                           1883 non-null   int64
 11  beauty_spas                                  1883 non-null   int64
 12  active_life                                  1883 non-null   int64
 13  median_age                                   1883 non-null   float64
 14  married                                      1883 non-null   float64
 15  college_grad                                 1883 non-null   float64
 16  property_tax                                 1883 non-null   float64
 17  insurance                                    1883 non-null   float64
 18  median_school                                1883 non-null   float64
 19  num_schools                                  1883 non-null   float64
 20  tx_year                                      1883 non-null   int64
 21  property_type_Apartment / Condo / Townhouse  1883 non-null   uint8
 22  property_type_Single-Family                  1883 non-null   uint8
 23  exterior_walls_Block                         1883 non-null   uint8
 24  exterior_walls_Brick                         1883 non-null   uint8
 25  exterior_walls_Combination                   1883 non-null   uint8
 26  exterior_walls_Metal                         1883 non-null   uint8
 27  exterior_walls_Other                         1883 non-null   uint8
 28  exterior_walls_Siding (Alum/Vinyl)           1883 non-null   uint8
 29  exterior_walls_Stucco                        1883 non-null   uint8
 30  exterior_walls_Wood                          1883 non-null   uint8
 31  exterior_walls_newNan                        1883 non-null   uint8
 32  roof_Asbestos                                1883 non-null   uint8
 33  roof_Asphalt                                 1883 non-null   uint8
 34  roof_Built-up                                1883 non-null   uint8
 35  roof_Composition                             1883 non-null   uint8
 36  roof_Gravel/Rock                             1883 non-null   uint8
 37  roof_Metal                                   1883 non-null   uint8
 38  roof_Other                                   1883 non-null   uint8
 39  roof_Roll Composition                        1883 non-null   uint8
 40  roof_Shingle                                 1883 non-null   uint8
 41  roof_Slate                                   1883 non-null   uint8
 42  roof_newNAN                                  1883 non-null   uint8
dtypes: float64(7), int64(14), uint8(22)
memory usage: 349.5 KB

##Modelo

In [ ]:
#Usaremos tx_price como variable objetivo, para eso la dejamos de lado en el dataframe
y = df_filter.tx_price
X = df_filter.drop('tx_price',axis=1)

In [ ]:
X[:10]

,beds,baths,sqft,year_built,restaurants,groceries,nightlife,cafes,shopping,arts_entertainment,...,roof_Asphalt,roof_Built-up,roof_Composition,roof_Gravel/Rock,roof_Metal,roof_Other,roof_Roll Composition,roof_Shingle,roof_Slate,roof_newNAN
0,1,1,584,2013,107,9,30,19,89,6,...,0,0,0,0,0,0,0,0,0,1
1,1,1,612,1965,105,15,6,13,87,2,...,0,0,0,0,0,0,0,1,0,0
2,1,1,615,1963,183,13,31,30,101,10,...,0,0,0,0,0,0,0,0,0,1
3,1,1,618,2000,198,9,38,25,127,11,...,0,0,0,0,0,0,0,0,0,1
4,1,1,634,1992,149,7,22,20,83,10,...,0,0,0,0,0,0,0,0,0,1
5,1,1,641,1947,146,10,23,27,86,9,...,0,0,0,0,0,0,0,0,0,1
6,1,1,642,1944,159,13,36,17,92,12,...,0,0,0,0,0,0,0,0,0,1
7,1,1,650,2000,198,9,38,25,127,11,...,0,0,0,0,0,0,0,0,0,1
8,1,1,660,1983,51,8,6,2,40,18,...,0,0,0,0,0,0,0,0,0,1
9,1,1,664,1965,119,10,26,25,183,13,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
y[:10]

0    295850
1    216500
2    279900
3    379900
4    340000
5    265000
6    240000
7    388100
8    240000
9    250000
Name: tx_price, dtype: int64

In [ ]:
print(X.shape)
print(y.shape)

(1883, 42)
(1883,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1506, 42)
(377, 42)
(1506,)
(377,)

##Random Forest

In [ ]:
#Tenemos que crear una instancia de la clase random forest
rrr = RandomForestRegressor(n_estimators=100) #Los n estimators, es cuantos arboles se quiere en el bosque es decir el tamaño del modelo
rrr.fit(X_train, y_train)

RandomForestRegressor()

In [ ]:
ypred = rrr.predict(X_test)
r2_score(y_test, ypred)

#Para que sea un buen modelo tiene que dar lo más cercano a 1

0.8097848391491127

In [ ]:
#Crear una función para iterar la cantidad de estimadores
def r2_rf(num_est, Xtrain, Xtest, ytrain, ytest):
  #Crear el modelo
  model = RandomForestRegressor(n_estimators=num_est, random_state=42)

  #Ajustar el modelo al dataset (entrenar)
  model.fit(Xtrain, ytrain)

  #Testear el modelo
  #Hacer predicción con los datos de testeo
  pred = model.predict(Xtest)

  #Calcular r2 y retornar
  r2 = r2_score(ytest, pred)
  return(r2)

In [ ]:
#Verificar el funcionamiento de la función
r2_rf(100, X_train, X_test, y_train, y_test)

0.8162982019090449

In [ ]:
#Iterar sobre la cantidad de estimadores (parametros de RFR)

import time
start = time.clock()

vector_r2 = []

for est in range (50, 150):
  myr2 = r2_rf(est, X_train, X_test, y_train, y_test)
  print('Num_Est: ', est, '\t\t R2 score:', myr2)
  vector_r2.append(myr2)

print(time.clock()-start)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

Num_Est:  50 		 R2 score: 0.813366442573202
Num_Est:  51 		 R2 score: 0.8134278524218564
Num_Est:  52 		 R2 score: 0.8137543501102757
Num_Est:  53 		 R2 score: 0.8130877753330767
Num_Est:  54 		 R2 score: 0.8129923809855837
Num_Est:  55 		 R2 score: 0.8133965816580201
Num_Est:  56 		 R2 score: 0.8137250847316504
Num_Est:  57 		 R2 score: 0.8142658441141761
Num_Est:  58 		 R2 score: 0.8133971178453723
Num_Est:  59 		 R2 score: 0.8135178029749294
Num_Est:  60 		 R2 score: 0.8129811296164422
Num_Est:  61 		 R2 score: 0.8132790047381466
Num_Est:  62 		 R2 score: 0.8126552895296091
Num_Est:  63 		 R2 score: 0.8129358900701725
Num_Est:  64 		 R2 score: 0.8130716401613937
Num_Est:  65 		 R2 score: 0.8137365189488093
Num_Est:  66 		 R2 score: 0.8146481087452402
Num_Est:  67 		 R2 score: 0.8153111233566794
Num_Est:  68 		 R2 score: 0.8160630474551166
Num_Est:  69 		 R2 score: 0.8160077313227335
Num_Est:  70 		 R2 score: 0.816847094521912
Num_Est:  71 		 R2 score: 0.8162767056028161
Num_Est:  72 		 R2 score: 0.8167968065690824
Num_Est:  73 		 R2 score: 0.8165609172605957
Num_Est:  74 		 R2 score: 0.816619090853712
Num_Est:  75 		 R2 score: 0.8162681112206924
Num_Est:  76 		 R2 score: 0.8165952510137793
Num_Est:  77 		 R2 score: 0.8161021654382022
Num_Est:  78 		 R2 score: 0.8162844212789232
Num_Est:  79 		 R2 score: 0.8165301156484006
Num_Est:  80 		 R2 score: 0.8156500338211812
Num_Est:  81 		 R2 score: 0.8159542560844895
Num_Est:  82 		 R2 score: 0.8163253814493043
Num_Est:  83 		 R2 score: 0.8159832123708077
Num_Est:  84 		 R2 score: 0.8162536179916424
Num_Est:  85 		 R2 score: 0.815950579546942
Num_Est:  86 		 R2 score: 0.8160708994799571
Num_Est:  87 		 R2 score: 0.8165258464270558
Num_Est:  88 		 R2 score: 0.8166978190641987
Num_Est:  89 		 R2 score: 0.8161601579495219
Num_Est:  90 		 R2 score: 0.8162789416619387
Num_Est:  91 		 R2 score: 0.8163636020947572
Num_Est:  92 		 R2 score: 0.8160027714835245
Num_Est:  93 		 R2 score: 0.8160433293283273
Num_Est:  94 		 R2 score: 0.8167611538694399
Num_Est:  95 		 R2 score: 0.8168241253212037
Num_Est:  96 		 R2 score: 0.8162123078322906
Num_Est:  97 		 R2 score: 0.8162072260290112
Num_Est:  98 		 R2 score: 0.8159416468579752
Num_Est:  99 		 R2 score: 0.815992770671538
Num_Est:  100 		 R2 score: 0.8162982019090449
Num_Est:  101 		 R2 score: 0.8161200519758309
Num_Est:  102 		 R2 score: 0.8157014230247464
Num_Est:  103 		 R2 score: 0.8155439634072148
Num_Est:  104 		 R2 score: 0.8152154910343333
Num_Est:  105 		 R2 score: 0.8151419244680335
Num_Est:  106 		 R2 score: 0.8151082136481689
Num_Est:  107 		 R2 score: 0.814995808700063
Num_Est:  108 		 R2 score: 0.8150003030462271
Num_Est:  109 		 R2 score: 0.8146394589377547
Num_Est:  110 		 R2 score: 0.8146993837722294
Num_Est:  111 		 R2 score: 0.8146917075689482
Num_Est:  112 		 R2 score: 0.8150938821850521
Num_Est:  113 		 R2 score: 0.8151263750160657
Num_Est:  114 		 R2 score: 0.8153186436018567
Num_Est:  115 		 R2 score: 0.8152695943250965
Num_Est:  116 		 R2 score: 0.815677633942141
Num_Est:  117 		 R2 score: 0.8157468650896457
Num_Est:  118 		 R2 score: 0.8161736455086477
Num_Est:  119 		 R2 score: 0.8161682796259393
Num_Est:  120 		 R2 score: 0.8164452627136003
Num_Est:  121 		 R2 score: 0.8163787109894466
Num_Est:  122 		 R2 score: 0.8160876946174155
Num_Est:  123 		 R2 score: 0.8159760474878295
Num_Est:  124 		 R2 score: 0.8154811025785267
Num_Est:  125 		 R2 score: 0.8157558330923209
Num_Est:  126 		 R2 score: 0.8158064002659193
Num_Est:  127 		 R2 score: 0.8158558104487813
Num_Est:  128 		 R2 score: 0.815816692702049
Num_Est:  129 		 R2 score: 0.8154256803539416
Num_Est:  130 		 R2 score: 0.8153342145124842
Num_Est:  131 		 R2 score: 0.8156066707964597
Num_Est:  132 		 R2 score: 0.815511897824068
Num_Est:  133 		 R2 score: 0.8151178526304391
Num_Est:  134 		 R2 score: 0.8149805636737548
Num_Est:  135 		 R2 score: 0.8151166345930987
Num_Est:  136 		 R2 score: 0.8151287587180093
Num_Est:  137 		 R2 score: 0.8155468629751406
Num_Est:  138 		 R2 score: 0.815569354729116
Num_Est:  139 		 R2 score: 0.8155875389680861
Num_Est:  140 		 R2 score: 0.8157932821990148
Num_Est:  141 		 R2 score: 0.815669192378067
Num_Est:  142 		 R2 score: 0.8156967164104973
Num_Est:  143 		 R2 score: 0.8156102639018781
Num_Est:  144 		 R2 score: 0.8154616090058207
Num_Est:  145 		 R2 score: 0.8155379991800238
Num_Est:  146 		 R2 score: 0.8153875585083802
Num_Est:  147 		 R2 score: 0.8153012678329694
Num_Est:  148 		 R2 score: 0.8152578769871568
Num_Est:  149 		 R2 score: 0.8149951937643701
160.838996

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  del sys.path[0]

In [ ]:
best_r2_RF = max(vector_r2)
best_r2_RF

0.816847094521912

##Estandarizar Datos

In [ ]:
#Estandarizar datos
scaler = StandardScaler()
df_std = pd.DataFrame(scaler.fit_transform(df_filter), columns = df_filter.columns)

In [ ]:
df_std.head()

,tx_price,beds,baths,sqft,year_built,restaurants,groceries,nightlife,cafes,shopping,...,roof_Asphalt,roof_Built-up,roof_Composition,roof_Gravel/Rock,roof_Metal,roof_Other,roof_Roll Composition,roof_Shingle,roof_Slate,roof_newNAN
0,-0.838646,-2.265912,-1.671305,-1.305814,1.480300,1.425468,1.001140,2.945389,1.814307,0.900467,...,-0.280116,-0.032608,-0.069301,-0.12724,-0.046139,-0.163455,-0.080085,-1.435893,-0.069301,2.078271
1,-1.362677,-2.265912,-1.671305,-1.284866,-0.885332,1.382783,2.337492,0.109321,1.018267,0.863101,...,-0.280116,-0.032608,-0.069301,-0.12724,-0.046139,-0.163455,-0.080085,0.696431,-0.069301,-0.481169
2,-0.943981,-2.265912,-1.671305,-1.282621,-0.983901,3.047509,1.892041,3.063559,3.273714,1.124661,...,-0.280116,-0.032608,-0.069301,-0.12724,-0.046139,-0.163455,-0.080085,-1.435893,-0.069301,2.078271
3,-0.283576,-2.265912,-1.671305,-1.280377,0.839608,3.367648,1.001140,3.890745,2.610347,1.610414,...,-0.280116,-0.032608,-0.069301,-0.12724,-0.046139,-0.163455,-0.080085,-1.435893,-0.069301,2.078271
4,-0.547078,-2.265912,-1.671305,-1.268407,0.445336,2.321859,0.555689,2.000033,1.946980,0.788370,...,-0.280116,-0.032608,-0.069301,-0.12724,-0.046139,-0.163455,-0.080085,-1.435893,-0.069301,2.078271

In [ ]:
y_std = df_std.tx_price
X_std = df_std.drop('tx_price', axis=1)

In [ ]:
Xs_train,  Xs_test, ys_train, ys_test = train_test_split(X_std, y_std, shuffle = True , test_size=0.2, random_state=42)

##Lasso

In [ ]:
#Crear una función para iterar el parametro alpha
def r2_lasso(coef, Xtrain, Xtest, ytrain, ytest):
  #Crear el modelo
  model = Lasso(alpha = coef)

  #Ajustar el modelo al dataset (entrenar)
  model.fit(Xtrain, ytrain)

  #Testear el modelo
  #Hacer predicción con los datos de testeo
  pred = model.predict(Xtest)

  #Calcular r2 y retornar
  r2 = r2_score(ytest, pred)
  return(r2)

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#Iterar sobre el valor del parametro alpha

import time
start = time.clock()

vector_r2_lasso = []
alphas = [0.0005, 0.002, 0.005, 0.008, 0.08, 0.05, 0.5]

for a in alphas:
  myr2 = r2_lasso(a, X_train, X_test, y_train, y_test)
  print('Alpha: ', a, '\t\t R2 score:', myr2)
  vector_r2_lasso.append(myr2)

print(time.clock()-start)

Alpha:  0.0005 		 R2 score: 0.45639479586594145
Alpha:  0.002 		 R2 score: 0.45639478441538117
Alpha:  0.005 		 R2 score: 0.45639476151300584
Alpha:  0.008 		 R2 score: 0.4563947386089515
Alpha:  0.08 		 R2 score: 0.45639418840497836
Alpha:  0.05 		 R2 score: 0.4563944177748057
Alpha:  0.5 		 R2 score: 0.4563922366203155
1.0973880000000236

In [ ]:
best_r2_Lasso = max(vector_r2_lasso)
best_r2_Lasso

0.45639479586594145

##Ridge

In [ ]:
#Crear una función para iterar el parametro alpha
def r2_ridge(coef, Xtrain, Xtest, ytrain, ytest):
  #Crear el modelo
  model = Ridge(alpha = coef)

  #Ajustar el modelo al dataset (entrenar)
  model.fit(Xtrain, ytrain)

  #Testear el modelo
  #Hacer predicción con los datos de testeo
  pred = model.predict(Xtest)

  #Calcular r2 y retornar
  r2 = r2_score(ytest, pred)
  return(r2)

In [ ]:
#Iterar sobre el valor del parametro alpha

import time
start = time.clock()

vector_r2_ridge = []
alphas = [1, 1.5, 2, 5, 10, 30, 50, 100, 200, 500, 1000, 1500]

for a in alphas:
  myr2 = r2_ridge(a, X_train, X_test, y_train, y_test)
  print('Alpha: ', a, '\t\t R2 score:', myr2)
  vector_r2_ridge.append(myr2)

print(time.clock()-start)

Alpha:  1 		 R2 score: 0.4568658497770953
Alpha:  1.5 		 R2 score: 0.4570771959432832
Alpha:  2 		 R2 score: 0.45727039221688626
Alpha:  5 		 R2 score: 0.4581349149750382
Alpha:  10 		 R2 score: 0.45896477447247386
Alpha:  30 		 R2 score: 0.4601347012231435
Alpha:  50 		 R2 score: 0.4603571293098536
Alpha:  100 		 R2 score: 0.46002127116469604
Alpha:  200 		 R2 score: 0.4587157427959848
Alpha:  500 		 R2 score: 0.4553589178872902
Alpha:  1000 		 R2 score: 0.45199639280034454
Alpha:  1500 		 R2 score: 0.4500551880989001
0.26116300000001047

In [ ]:
best_r2_Ridge = max(vector_r2_ridge)
best_r2_Ridge

0.4603571293098536

#Gradient Boosting

In [ ]:
gbr = GradientBoostingRegressor(learning_rate=0.1, n_estimators = 100, max_depth = 3, random_state = 42)
gbr.fit(Xs_train, ys_train)

GradientBoostingRegressor(random_state=42)

In [ ]:
ypred_gbr = gbr.predict(Xs_test)
r2_score(ys_test, ypred_gbr)

0.801848009816297

In [ ]:
#Crear una función para iterar sobre los parametros
def r2_gbr(lr, est, depth, Xtrain, Xtest, ytrain, ytest):
  #Crear el modelo
  model =GradientBoostingRegressor(learning_rate=lr, n_estimators=est, max_depth=depth, random_state=42)

  #Ajustar el modelo al dataset (entrenar)
  model.fit(Xtrain, ytrain)

  #Testear el modelo
  #Hacer predicción con los datos de testeo
  pred = model.predict(Xtest)

  #Calcular r2 y retornar
  r2 = r2_score(ytest, pred)
  return(r2)

In [ ]:
import time
start = time.clock()

vector_r2_gbr = []
alphas = [0.0001,0.0005,0.008,0.01,0.1,0.3,0.5,0.8]
ests = [50,60,80,100,120,150]
depths = [1,3,5,10]

for a in alphas:
  for est in ests:
    for d in depths:
      myr2 = r2_gbr(a, est, d, X_train , X_test , y_train, y_test)
      print('Alpha: ', a, '\t\t Est: ',est,'\t\tDepth: ',d, '\t\tR2 Score: ',myr2)
      vector_r2_gbr.append(myr2)

print(time.clock()-start)

Alpha:  0.0001 		 Est:  50 		Depth:  1 		R2 Score:  -0.009943698251821953
Alpha:  0.0001 		 Est:  50 		Depth:  3 		R2 Score:  -0.006605729635344337
Alpha:  0.0001 		 Est:  50 		Depth:  5 		R2 Score:  -0.005814871560161361
Alpha:  0.0001 		 Est:  50 		Depth:  10 		R2 Score:  -0.005175454662912804
Alpha:  0.0001 		 Est:  60 		Depth:  1 		R2 Score:  -0.009209431418478742
Alpha:  0.0001 		 Est:  60 		Depth:  3 		R2 Score:  -0.005207734042792955
Alpha:  0.0001 		 Est:  60 		Depth:  5 		R2 Score:  -0.004263037923516233
Alpha:  0.0001 		 Est:  60 		Depth:  10 		R2 Score:  -0.0035395453593602966
Alpha:  0.0001 		 Est:  80 		Depth:  1 		R2 Score:  -0.007745128056070971
Alpha:  0.0001 		 Est:  80 		Depth:  3 		R2 Score:  -0.002420002287539136
Alpha:  0.0001 		 Est:  80 		Depth:  5 		R2 Score:  -0.001169334555137569
Alpha:  0.0001 		 Est:  80 		Depth:  10 		R2 Score:  -0.0002933654869254898
Alpha:  0.0001 		 Est:  100 		Depth:  1 		R2 Score:  -0.0062937652263601596
Alpha:  0.0001 		 Est:  100 		Depth:  3 		R2 Score:  0.0003567532468442547
Alpha:  0.0001 		 Est:  100 		Depth:  5 		R2 Score:  0.001912586004823913
Alpha:  0.0001 		 Est:  100 		Depth:  10 		R2 Score:  0.0029512529779497365
Alpha:  0.0001 		 Est:  120 		Depth:  1 		R2 Score:  -0.004848369109752282
Alpha:  0.0001 		 Est:  120 		Depth:  3 		R2 Score:  0.003122576031436619
Alpha:  0.0001 		 Est:  120 		Depth:  5 		R2 Score:  0.004981110274797307
Alpha:  0.0001 		 Est:  120 		Depth:  10 		R2 Score:  0.006166489892153848
Alpha:  0.0001 		 Est:  150 		Depth:  1 		R2 Score:  -0.002689853492610972
Alpha:  0.0001 		 Est:  150 		Depth:  3 		R2 Score:  0.007250905970669352
Alpha:  0.0001 		 Est:  150 		Depth:  5 		R2 Score:  0.009561529207258168
Alpha:  0.0001 		 Est:  150 		Depth:  10 		R2 Score:  0.010977084541963333
Alpha:  0.0005 		 Est:  50 		Depth:  1 		R2 Score:  0.0044256111334713966
Alpha:  0.0005 		 Est:  50 		Depth:  3 		R2 Score:  0.020842656586226527
Alpha:  0.0005 		 Est:  50 		Depth:  5 		R2 Score:  0.024639546000305268
Alpha:  0.0005 		 Est:  50 		Depth:  10 		R2 Score:  0.02675348410216183
Alpha:  0.0005 		 Est:  60 		Depth:  1 		R2 Score:  0.007935704672262123
Alpha:  0.0005 		 Est:  60 		Depth:  3 		R2 Score:  0.027493036288790407
Alpha:  0.0005 		 Est:  60 		Depth:  5 		R2 Score:  0.03205835449882999
Alpha:  0.0005 		 Est:  60 		Depth:  10 		R2 Score:  0.03453546358649928
Alpha:  0.0005 		 Est:  80 		Depth:  1 		R2 Score:  0.014863324499712727
Alpha:  0.0005 		 Est:  80 		Depth:  3 		R2 Score:  0.04059076342970813
Alpha:  0.0005 		 Est:  80 		Depth:  5 		R2 Score:  0.046667065265372454
Alpha:  0.0005 		 Est:  80 		Depth:  10 		R2 Score:  0.049759738012737365
Alpha:  0.0005 		 Est:  100 		Depth:  1 		R2 Score:  0.02166934588928271
Alpha:  0.0005 		 Est:  100 		Depth:  3 		R2 Score:  0.053468299521918006
Alpha:  0.0005 		 Est:  100 		Depth:  5 		R2 Score:  0.06097397207737054
Alpha:  0.0005 		 Est:  100 		Depth:  10 		R2 Score:  0.06463342764746915
Alpha:  0.0005 		 Est:  120 		Depth:  1 		R2 Score:  0.028344142390745786
Alpha:  0.0005 		 Est:  120 		Depth:  3 		R2 Score:  0.06609885867151244
Alpha:  0.0005 		 Est:  120 		Depth:  5 		R2 Score:  0.07500802658791206
Alpha:  0.0005 		 Est:  120 		Depth:  10 		R2 Score:  0.07906972168218163
Alpha:  0.0005 		 Est:  150 		Depth:  1 		R2 Score:  0.03802611246487819
Alpha:  0.0005 		 Est:  150 		Depth:  3 		R2 Score:  0.08459846018446615
Alpha:  0.0005 		 Est:  150 		Depth:  5 		R2 Score:  0.09554099116245307
Alpha:  0.0005 		 Est:  150 		Depth:  10 		R2 Score:  0.10008221643577253
Alpha:  0.008 		 Est:  50 		Depth:  1 		R2 Score:  0.19675839732372857
Alpha:  0.008 		 Est:  50 		Depth:  3 		R2 Score:  0.380269981006672
Alpha:  0.008 		 Est:  50 		Depth:  5 		R2 Score:  0.41973571630624074
Alpha:  0.008 		 Est:  50 		Depth:  10 		R2 Score:  0.44491565128505783
Alpha:  0.008 		 Est:  60 		Depth:  1 		R2 Score:  0.2244403620781038
Alpha:  0.008 		 Est:  60 		Depth:  3 		R2 Score:  0.4292786018277094
Alpha:  0.008 		 Est:  60 		Depth:  5 		R2 Score:  0.47270397695914945
Alpha:  0.008 		 Est:  60 		Depth:  10 		R2 Score:  0.5008310081152553
Alpha:  0.008 		 Est:  80 		Depth:  1 		R2 Score:  0.27136872948594104
Alpha:  0.008 		 Est:  80 		Depth:  3 		R2 Score:  0.5087412815601318
Alpha:  0.008 		 Est:  80 		Depth:  5 		R2 Score:  0.5579486362183004
Alpha:  0.008 		 Est:  80 		Depth:  10 		R2 Score:  0.5861214387500958
Alpha:  0.008 		 Est:  100 		Depth:  1 		R2 Score:  0.30855186713255356
Alpha:  0.008 		 Est:  100 		Depth:  3 		R2 Score:  0.5690197089729567
Alpha:  0.008 		 Est:  100 		Depth:  5 		R2 Score:  0.6209316971027208
Alpha:  0.008 		 Est:  100 		Depth:  10 		R2 Score:  0.6445301586032277
Alpha:  0.008 		 Est:  120 		Depth:  1 		R2 Score:  0.3376205500299355
Alpha:  0.008 		 Est:  120 		Depth:  3 		R2 Score:  0.6142020039194958
Alpha:  0.008 		 Est:  120 		Depth:  5 		R2 Score:  0.6672475662171564
Alpha:  0.008 		 Est:  120 		Depth:  10 		R2 Score:  0.6863112170253258
Alpha:  0.008 		 Est:  150 		Depth:  1 		R2 Score:  0.3758544104086079
Alpha:  0.008 		 Est:  150 		Depth:  3 		R2 Score:  0.6631259367816196
Alpha:  0.008 		 Est:  150 		Depth:  5 		R2 Score:  0.7163474320027026
Alpha:  0.008 		 Est:  150 		Depth:  10 		R2 Score:  0.7286231747776812
Alpha:  0.01 		 Est:  50 		Depth:  1 		R2 Score:  0.23098395819740858
Alpha:  0.01 		 Est:  50 		Depth:  3 		R2 Score:  0.4409180755546219
Alpha:  0.01 		 Est:  50 		Depth:  5 		R2 Score:  0.4853760233734945
Alpha:  0.01 		 Est:  50 		Depth:  10 		R2 Score:  0.5135613084992088
Alpha:  0.01 		 Est:  60 		Depth:  1 		R2 Score:  0.26083495929486034
Alpha:  0.01 		 Est:  60 		Depth:  3 		R2 Score:  0.49107423257205585
Alpha:  0.01 		 Est:  60 		Depth:  5 		R2 Score:  0.5392655225538472
Alpha:  0.01 		 Est:  60 		Depth:  10 		R2 Score:  0.5689790278331336
Alpha:  0.01 		 Est:  80 		Depth:  1 		R2 Score:  0.308688864696785
Alpha:  0.01 		 Est:  80 		Depth:  3 		R2 Score:  0.5692327261440058
Alpha:  0.01 		 Est:  80 		Depth:  5 		R2 Score:  0.6218046557868337
Alpha:  0.01 		 Est:  80 		Depth:  10 		R2 Score:  0.6449470916281956
Alpha:  0.01 		 Est:  100 		Depth:  1 		R2 Score:  0.3442247797693728
Alpha:  0.01 		 Est:  100 		Depth:  3 		R2 Score:  0.6238848984313509
Alpha:  0.01 		 Est:  100 		Depth:  5 		R2 Score:  0.6775065974977972
Alpha:  0.01 		 Est:  100 		Depth:  10 		R2 Score:  0.6945781039469412
Alpha:  0.01 		 Est:  120 		Depth:  1 		R2 Score:  0.37626629909770826
Alpha:  0.01 		 Est:  120 		Depth:  3 		R2 Score:  0.6631450417768927
Alpha:  0.01 		 Est:  120 		Depth:  5 		R2 Score:  0.7174537075668347
Alpha:  0.01 		 Est:  120 		Depth:  10 		R2 Score:  0.7283257765212109
Alpha:  0.01 		 Est:  150 		Depth:  1 		R2 Score:  0.4176264777359493
Alpha:  0.01 		 Est:  150 		Depth:  3 		R2 Score:  0.7021336745726383
Alpha:  0.01 		 Est:  150 		Depth:  5 		R2 Score:  0.7556557587148893
Alpha:  0.01 		 Est:  150 		Depth:  10 		R2 Score:  0.7592513875507889
Alpha:  0.1 		 Est:  50 		Depth:  1 		R2 Score:  0.6496632103427717
Alpha:  0.1 		 Est:  50 		Depth:  3 		R2 Score:  0.7941692530116493
Alpha:  0.1 		 Est:  50 		Depth:  5 		R2 Score:  0.8128562274822795
Alpha:  0.1 		 Est:  50 		Depth:  10 		R2 Score:  0.8092949376622445
Alpha:  0.1 		 Est:  60 		Depth:  1 		R2 Score:  0.6710875064551245
Alpha:  0.1 		 Est:  60 		Depth:  3 		R2 Score:  0.7968535623627516
Alpha:  0.1 		 Est:  60 		Depth:  5 		R2 Score:  0.8162717606141281
Alpha:  0.1 		 Est:  60 		Depth:  10 		R2 Score:  0.8091533837238719
Alpha:  0.1 		 Est:  80 		Depth:  1 		R2 Score:  0.6969362853139811
Alpha:  0.1 		 Est:  80 		Depth:  3 		R2 Score:  0.8037746326657627
Alpha:  0.1 		 Est:  80 		Depth:  5 		R2 Score:  0.8159774714438831
Alpha:  0.1 		 Est:  80 		Depth:  10 		R2 Score:  0.8091536229388172
Alpha:  0.1 		 Est:  100 		Depth:  1 		R2 Score:  0.7136513397582998
Alpha:  0.1 		 Est:  100 		Depth:  3 		R2 Score:  0.8017000777955332
Alpha:  0.1 		 Est:  100 		Depth:  5 		R2 Score:  0.8117016338647609
Alpha:  0.1 		 Est:  100 		Depth:  10 		R2 Score:  0.8090442238315352
Alpha:  0.1 		 Est:  120 		Depth:  1 		R2 Score:  0.7276356420793337
Alpha:  0.1 		 Est:  120 		Depth:  3 		R2 Score:  0.8042797137861513
Alpha:  0.1 		 Est:  120 		Depth:  5 		R2 Score:  0.8102162609531813
Alpha:  0.1 		 Est:  120 		Depth:  10 		R2 Score:  0.8090048876695706
Alpha:  0.1 		 Est:  150 		Depth:  1 		R2 Score:  0.7419781606666167
Alpha:  0.1 		 Est:  150 		Depth:  3 		R2 Score:  0.8094593442861637
Alpha:  0.1 		 Est:  150 		Depth:  5 		R2 Score:  0.8062075791460481
Alpha:  0.1 		 Est:  150 		Depth:  10 		R2 Score:  0.8089785760380163
Alpha:  0.3 		 Est:  50 		Depth:  1 		R2 Score:  0.75107754709453
Alpha:  0.3 		 Est:  50 		Depth:  3 		R2 Score:  0.8005529804269488
Alpha:  0.3 		 Est:  50 		Depth:  5 		R2 Score:  0.7899243624380452
Alpha:  0.3 		 Est:  50 		Depth:  10 		R2 Score:  0.779439136421153
Alpha:  0.3 		 Est:  60 		Depth:  1 		R2 Score:  0.7553713408611284
Alpha:  0.3 		 Est:  60 		Depth:  3 		R2 Score:  0.7927842845138284
Alpha:  0.3 		 Est:  60 		Depth:  5 		R2 Score:  0.7889338769097652
Alpha:  0.3 		 Est:  60 		Depth:  10 		R2 Score:  0.7794133415357665
Alpha:  0.3 		 Est:  80 		Depth:  1 		R2 Score:  0.7627810579738751
Alpha:  0.3 		 Est:  80 		Depth:  3 		R2 Score:  0.7905130719440887
Alpha:  0.3 		 Est:  80 		Depth:  5 		R2 Score:  0.7851073026216161
Alpha:  0.3 		 Est:  80 		Depth:  10 		R2 Score:  0.7794276119372343
Alpha:  0.3 		 Est:  100 		Depth:  1 		R2 Score:  0.7675746452745662
Alpha:  0.3 		 Est:  100 		Depth:  3 		R2 Score:  0.7835306741927257
Alpha:  0.3 		 Est:  100 		Depth:  5 		R2 Score:  0.7808498135367924
Alpha:  0.3 		 Est:  100 		Depth:  10 		R2 Score:  0.7794296815920541
Alpha:  0.3 		 Est:  120 		Depth:  1 		R2 Score:  0.7682928271567415
Alpha:  0.3 		 Est:  120 		Depth:  3 		R2 Score:  0.7771283471982026
Alpha:  0.3 		 Est:  120 		Depth:  5 		R2 Score:  0.7803228139068606
Alpha:  0.3 		 Est:  120 		Depth:  10 		R2 Score:  0.7794296567075313
Alpha:  0.3 		 Est:  150 		Depth:  1 		R2 Score:  0.7695296835940905
Alpha:  0.3 		 Est:  150 		Depth:  3 		R2 Score:  0.7765978416794124
Alpha:  0.3 		 Est:  150 		Depth:  5 		R2 Score:  0.7778690420127137
Alpha:  0.3 		 Est:  150 		Depth:  10 		R2 Score:  0.7794293635684277
Alpha:  0.5 		 Est:  50 		Depth:  1 		R2 Score:  0.767745920054127
Alpha:  0.5 		 Est:  50 		Depth:  3 		R2 Score:  0.7911970500804584
Alpha:  0.5 		 Est:  50 		Depth:  5 		R2 Score:  0.7619585215374055
Alpha:  0.5 		 Est:  50 		Depth:  10 		R2 Score:  0.7548725281232347
Alpha:  0.5 		 Est:  60 		Depth:  1 		R2 Score:  0.7690427820310111
Alpha:  0.5 		 Est:  60 		Depth:  3 		R2 Score:  0.7826613878511071
Alpha:  0.5 		 Est:  60 		Depth:  5 		R2 Score:  0.7568108110243912
Alpha:  0.5 		 Est:  60 		Depth:  10 		R2 Score:  0.7548698566898477
Alpha:  0.5 		 Est:  80 		Depth:  1 		R2 Score:  0.7666817900742533
Alpha:  0.5 		 Est:  80 		Depth:  3 		R2 Score:  0.7653953239194811
Alpha:  0.5 		 Est:  80 		Depth:  5 		R2 Score:  0.7550694155557492
Alpha:  0.5 		 Est:  80 		Depth:  10 		R2 Score:  0.7548691179378957
Alpha:  0.5 		 Est:  100 		Depth:  1 		R2 Score:  0.7699970614013083
Alpha:  0.5 		 Est:  100 		Depth:  3 		R2 Score:  0.7585157558059128
Alpha:  0.5 		 Est:  100 		Depth:  5 		R2 Score:  0.7536825251725453
Alpha:  0.5 		 Est:  100 		Depth:  10 		R2 Score:  0.7548691484576463
Alpha:  0.5 		 Est:  120 		Depth:  1 		R2 Score:  0.7669883384331964
Alpha:  0.5 		 Est:  120 		Depth:  3 		R2 Score:  0.7549866813074084
Alpha:  0.5 		 Est:  120 		Depth:  5 		R2 Score:  0.7536365240613475
Alpha:  0.5 		 Est:  120 		Depth:  10 		R2 Score:  0.7548691504677599
Alpha:  0.5 		 Est:  150 		Depth:  1 		R2 Score:  0.7665034593050859
Alpha:  0.5 		 Est:  150 		Depth:  3 		R2 Score:  0.7535853478890975
Alpha:  0.5 		 Est:  150 		Depth:  5 		R2 Score:  0.753873169789945
Alpha:  0.5 		 Est:  150 		Depth:  10 		R2 Score:  0.7548691509043983
Alpha:  0.8 		 Est:  50 		Depth:  1 		R2 Score:  0.7722728038585072
Alpha:  0.8 		 Est:  50 		Depth:  3 		R2 Score:  0.7084500783365357
Alpha:  0.8 		 Est:  50 		Depth:  5 		R2 Score:  0.7171349530982611
Alpha:  0.8 		 Est:  50 		Depth:  10 		R2 Score:  0.6954769061477911
Alpha:  0.8 		 Est:  60 		Depth:  1 		R2 Score:  0.7689857247849864
Alpha:  0.8 		 Est:  60 		Depth:  3 		R2 Score:  0.6950019488662491
Alpha:  0.8 		 Est:  60 		Depth:  5 		R2 Score:  0.7142027459745737
Alpha:  0.8 		 Est:  60 		Depth:  10 		R2 Score:  0.6954768924798838
Alpha:  0.8 		 Est:  80 		Depth:  1 		R2 Score:  0.7712801719119171
Alpha:  0.8 		 Est:  80 		Depth:  3 		R2 Score:  0.6877587442829877
Alpha:  0.8 		 Est:  80 		Depth:  5 		R2 Score:  0.7134337676705351
Alpha:  0.8 		 Est:  80 		Depth:  10 		R2 Score:  0.6954768912955496
Alpha:  0.8 		 Est:  100 		Depth:  1 		R2 Score:  0.7665601428552493
Alpha:  0.8 		 Est:  100 		Depth:  3 		R2 Score:  0.6902780202010035
Alpha:  0.8 		 Est:  100 		Depth:  5 		R2 Score:  0.7123477700782284
Alpha:  0.8 		 Est:  100 		Depth:  10 		R2 Score:  0.6954768912929221
Alpha:  0.8 		 Est:  120 		Depth:  1 		R2 Score:  0.7714694018553461
Alpha:  0.8 		 Est:  120 		Depth:  3 		R2 Score:  0.6851940896725941
Alpha:  0.8 		 Est:  120 		Depth:  5 		R2 Score:  0.7118773683386534
Alpha:  0.8 		 Est:  120 		Depth:  10 		R2 Score:  0.6954768912927389
Alpha:  0.8 		 Est:  150 		Depth:  1 		R2 Score:  0.7664622233596874
Alpha:  0.8 		 Est:  150 		Depth:  3 		R2 Score:  0.6769742124575928
Alpha:  0.8 		 Est:  150 		Depth:  5 		R2 Score:  0.7118179559821174
Alpha:  0.8 		 Est:  150 		Depth:  10 		R2 Score:  0.6954768912927389
143.54373399999997

In [ ]:
best_r2_gbr = max(vector_r2_gbr)
best_r2_gbr

0.8162717606141281

##XGBRF Regressor

In [ ]:
xgbrf = XGBRFRegressor(learning_rate=0.1, n_estimators=100, max_depth = 3, random_state=42)
xgbrf.fit(Xs_train, ys_train)

[11:44:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRFRegressor(learning_rate=0.1, random_state=42)

In [ ]:
ypred_xgbr = xgbrf.predict(Xs_test)
r2_score(ys_test, ypred_xgbr)
#La predicción es muy mala pues es muy lejana a 1, por eso se realiza una iteración con los parámetros para saber qué parámetros son los más indicados

0.006958025035993409

In [ ]:
#Crear una función para iterar sobre los parametros
def r2_xgbr(lr, est, depth, Xtrain, Xtest, ytrain, ytest):
  #Crear el modelo
  model = XGBRFRegressor(learning_rate=lr, n_estimators=est, max_depth=depth,objective='reg:squarederror', random_state=42)#El objective se usa para evitar los warnings en la línea de código de abajo

  #Ajustar el modelo al dataset (entrenar)
  model.fit(Xtrain, ytrain)

  #Testear el modelo
  #Hacer predicción con los datos de testeo
  pred = model.predict(Xtest)

  #Calcular r2 y retornar
  r2 = r2_score(ytest, pred)
  return(r2)

In [ ]:
#Iterar sobre el valor del parámetro alpha, estimadores y depths
start = time.clock()

vector_r2_xgbr = []
alphas = [0.008,0.01,0.1,0.3,0.5,0.8] ##Nótese que se eliminaron los valores más pequeños, pues en análisis anteriores se identificó que dan valores alejados
##Por lo tanto no vale la pena usarlos
ests = [50,60,80,100,120,150]
depths = [3,5,10] ##Igualmente se elimina la profundidad 1, para ahorrar tiempo

for a in alphas:
  for est in ests:
    for d in depths:
      myr2 = r2_xgbr(a, est, d, X_train , X_test , y_train, y_test)
      print('Alpha: ', a, '\t\t Est: ',est,'\t\tDepth: ',d, '\t\tR2 Score: ',myr2)
      vector_r2_xgbr.append(myr2)

print(time.clock()-start)

Alpha:  0.008 		 Est:  50 		Depth:  3 		R2 Score:  -7.75915195893614
Alpha:  0.008 		 Est:  50 		Depth:  5 		R2 Score:  -7.758693210400237
Alpha:  0.008 		 Est:  50 		Depth:  10 		R2 Score:  -7.758720663459307
Alpha:  0.008 		 Est:  60 		Depth:  3 		R2 Score:  -7.7591611345035005
Alpha:  0.008 		 Est:  60 		Depth:  5 		R2 Score:  -7.7587188724971305
Alpha:  0.008 		 Est:  60 		Depth:  10 		R2 Score:  -7.758738516707394
Alpha:  0.008 		 Est:  80 		Depth:  3 		R2 Score:  -7.7591745846854305
Alpha:  0.008 		 Est:  80 		Depth:  5 		R2 Score:  -7.758709536548368
Alpha:  0.008 		 Est:  80 		Depth:  10 		R2 Score:  -7.7587288867280755
Alpha:  0.008 		 Est:  100 		Depth:  3 		R2 Score:  -7.759103718243974
Alpha:  0.008 		 Est:  100 		Depth:  5 		R2 Score:  -7.758619157002121
Alpha:  0.008 		 Est:  100 		Depth:  10 		R2 Score:  -7.758644993162404
Alpha:  0.008 		 Est:  120 		Depth:  3 		R2 Score:  -7.759169678013221
Alpha:  0.008 		 Est:  120 		Depth:  5 		R2 Score:  -7.758647460948529
Alpha:  0.008 		 Est:  120 		Depth:  10 		R2 Score:  -7.758691436429006
Alpha:  0.008 		 Est:  150 		Depth:  3 		R2 Score:  -7.759230520681369
Alpha:  0.008 		 Est:  150 		Depth:  5 		R2 Score:  -7.758687429404388
Alpha:  0.008 		 Est:  150 		Depth:  10 		R2 Score:  -7.758733087231651
Alpha:  0.01 		 Est:  50 		Depth:  3 		R2 Score:  -7.726074534796851
Alpha:  0.01 		 Est:  50 		Depth:  5 		R2 Score:  -7.725501489106081
Alpha:  0.01 		 Est:  50 		Depth:  10 		R2 Score:  -7.725535730396061
Alpha:  0.01 		 Est:  60 		Depth:  3 		R2 Score:  -7.726085985766279
Alpha:  0.01 		 Est:  60 		Depth:  5 		R2 Score:  -7.725533502588531
Alpha:  0.01 		 Est:  60 		Depth:  10 		R2 Score:  -7.725558004255978
Alpha:  0.01 		 Est:  80 		Depth:  3 		R2 Score:  -7.726102749891563
Alpha:  0.01 		 Est:  80 		Depth:  5 		R2 Score:  -7.725521861406612
Alpha:  0.01 		 Est:  80 		Depth:  10 		R2 Score:  -7.725545994618296
Alpha:  0.01 		 Est:  100 		Depth:  3 		R2 Score:  -7.726014296129151
Alpha:  0.01 		 Est:  100 		Depth:  5 		R2 Score:  -7.725409099047697
Alpha:  0.01 		 Est:  100 		Depth:  10 		R2 Score:  -7.725441317228697
Alpha:  0.01 		 Est:  120 		Depth:  3 		R2 Score:  -7.726096621432996
Alpha:  0.01 		 Est:  120 		Depth:  5 		R2 Score:  -7.72544443535579
Alpha:  0.01 		 Est:  120 		Depth:  10 		R2 Score:  -7.725499290913957
Alpha:  0.01 		 Est:  150 		Depth:  3 		R2 Score:  -7.726172508958063
Alpha:  0.01 		 Est:  150 		Depth:  5 		R2 Score:  -7.725494256541822
Alpha:  0.01 		 Est:  150 		Depth:  10 		R2 Score:  -7.7255512008141345
Alpha:  0.1 		 Est:  50 		Depth:  3 		R2 Score:  -6.304399621373479
Alpha:  0.1 		 Est:  50 		Depth:  5 		R2 Score:  -6.298844532619789
Alpha:  0.1 		 Est:  50 		Depth:  10 		R2 Score:  -6.299156674020174
Alpha:  0.1 		 Est:  60 		Depth:  3 		R2 Score:  -6.304497105485703
Alpha:  0.1 		 Est:  60 		Depth:  5 		R2 Score:  -6.299140753446298
Alpha:  0.1 		 Est:  60 		Depth:  10 		R2 Score:  -6.299362646671947
Alpha:  0.1 		 Est:  80 		Depth:  3 		R2 Score:  -6.304649522804327
Alpha:  0.1 		 Est:  80 		Depth:  5 		R2 Score:  -6.299030130848378
Alpha:  0.1 		 Est:  80 		Depth:  10 		R2 Score:  -6.299247230346871
Alpha:  0.1 		 Est:  100 		Depth:  3 		R2 Score:  -6.303833807150593
Alpha:  0.1 		 Est:  100 		Depth:  5 		R2 Score:  -6.297996530885537
Alpha:  0.1 		 Est:  100 		Depth:  10 		R2 Score:  -6.298287056473019
Alpha:  0.1 		 Est:  120 		Depth:  3 		R2 Score:  -6.304585011187082
Alpha:  0.1 		 Est:  120 		Depth:  5 		R2 Score:  -6.298321232279791
Alpha:  0.1 		 Est:  120 		Depth:  10 		R2 Score:  -6.298819065029254
Alpha:  0.1 		 Est:  150 		Depth:  3 		R2 Score:  -6.305282430202315
Alpha:  0.1 		 Est:  150 		Depth:  5 		R2 Score:  -6.2987716370234095
Alpha:  0.1 		 Est:  150 		Depth:  10 		R2 Score:  -6.299285411942596
Alpha:  0.3 		 Est:  50 		Depth:  3 		R2 Score:  -3.6131169607039144
Alpha:  0.3 		 Est:  50 		Depth:  5 		R2 Score:  -3.597620557778285
Alpha:  0.3 		 Est:  50 		Depth:  10 		R2 Score:  -3.598354564853026
Alpha:  0.3 		 Est:  60 		Depth:  3 		R2 Score:  -3.613297815990343
Alpha:  0.3 		 Est:  60 		Depth:  5 		R2 Score:  -3.5983488908238863
Alpha:  0.3 		 Est:  60 		Depth:  10 		R2 Score:  -3.5988605917147467
Alpha:  0.3 		 Est:  80 		Depth:  3 		R2 Score:  -3.6136505486730943
Alpha:  0.3 		 Est:  80 		Depth:  5 		R2 Score:  -3.598056054184288
Alpha:  0.3 		 Est:  80 		Depth:  10 		R2 Score:  -3.5985456324285403
Alpha:  0.3 		 Est:  100 		Depth:  3 		R2 Score:  -3.611661013238632
Alpha:  0.3 		 Est:  100 		Depth:  5 		R2 Score:  -3.595583451579066
Alpha:  0.3 		 Est:  100 		Depth:  10 		R2 Score:  -3.596243154525178
Alpha:  0.3 		 Est:  120 		Depth:  3 		R2 Score:  -3.6134385837763565
Alpha:  0.3 		 Est:  120 		Depth:  5 		R2 Score:  -3.596367328217287
Alpha:  0.3 		 Est:  120 		Depth:  10 		R2 Score:  -3.5975228155730523
Alpha:  0.3 		 Est:  150 		Depth:  3 		R2 Score:  -3.6151153338999062
Alpha:  0.3 		 Est:  150 		Depth:  5 		R2 Score:  -3.5973946741850797
Alpha:  0.3 		 Est:  150 		Depth:  10 		R2 Score:  -3.598564528361819
Alpha:  0.5 		 Est:  50 		Depth:  3 		R2 Score:  -1.5673438183062092
Alpha:  0.5 		 Est:  50 		Depth:  5 		R2 Score:  -1.5434646093766342
Alpha:  0.5 		 Est:  50 		Depth:  10 		R2 Score:  -1.5443505879149044
Alpha:  0.5 		 Est:  60 		Depth:  3 		R2 Score:  -1.5674598490382032
Alpha:  0.5 		 Est:  60 		Depth:  5 		R2 Score:  -1.5444128856863064
Alpha:  0.5 		 Est:  60 		Depth:  10 		R2 Score:  -1.545008879535616
Alpha:  0.5 		 Est:  80 		Depth:  3 		R2 Score:  -1.5678736197696463
Alpha:  0.5 		 Est:  80 		Depth:  5 		R2 Score:  -1.5439888459807647
Alpha:  0.5 		 Est:  80 		Depth:  10 		R2 Score:  -1.5445351845979274
Alpha:  0.5 		 Est:  100 		Depth:  3 		R2 Score:  -1.565320101708061
Alpha:  0.5 		 Est:  100 		Depth:  5 		R2 Score:  -1.5409149028102997
Alpha:  0.5 		 Est:  100 		Depth:  10 		R2 Score:  -1.5416615568704994
Alpha:  0.5 		 Est:  120 		Depth:  3 		R2 Score:  -1.5674893489973858
Alpha:  0.5 		 Est:  120 		Depth:  5 		R2 Score:  -1.5419039265344887
Alpha:  0.5 		 Est:  120 		Depth:  10 		R2 Score:  -1.5432660185882905
Alpha:  0.5 		 Est:  150 		Depth:  3 		R2 Score:  -1.569592205360721
Alpha:  0.5 		 Est:  150 		Depth:  5 		R2 Score:  -1.5430777107492446
Alpha:  0.5 		 Est:  150 		Depth:  10 		R2 Score:  -1.5444087287649482
Alpha:  0.8 		 Est:  50 		Depth:  3 		R2 Score:  0.290985502944238
Alpha:  0.8 		 Est:  50 		Depth:  5 		R2 Score:  0.3245162617053404
Alpha:  0.8 		 Est:  50 		Depth:  10 		R2 Score:  0.3239080703893733
Alpha:  0.8 		 Est:  60 		Depth:  3 		R2 Score:  0.29124692665958474
Alpha:  0.8 		 Est:  60 		Depth:  5 		R2 Score:  0.32363847529425505
Alpha:  0.8 		 Est:  60 		Depth:  10 		R2 Score:  0.3233011725710334
Alpha:  0.8 		 Est:  80 		Depth:  3 		R2 Score:  0.2910004395478042
Alpha:  0.8 		 Est:  80 		Depth:  5 		R2 Score:  0.3241609764818024
Alpha:  0.8 		 Est:  80 		Depth:  10 		R2 Score:  0.32393337509669706
Alpha:  0.8 		 Est:  100 		Depth:  3 		R2 Score:  0.2932566092090132
Alpha:  0.8 		 Est:  100 		Depth:  5 		R2 Score:  0.32656919431126397
Alpha:  0.8 		 Est:  100 		Depth:  10 		R2 Score:  0.32622133734474557
Alpha:  0.8 		 Est:  120 		Depth:  3 		R2 Score:  0.2916930612871804
Alpha:  0.8 		 Est:  120 		Depth:  5 		R2 Score:  0.32574757498230245
Alpha:  0.8 		 Est:  120 		Depth:  10 		R2 Score:  0.3249209346075558
Alpha:  0.8 		 Est:  150 		Depth:  3 		R2 Score:  0.28998227581807245
Alpha:  0.8 		 Est:  150 		Depth:  5 		R2 Score:  0.32515836618873084
Alpha:  0.8 		 Est:  150 		Depth:  10 		R2 Score:  0.3245140310014535
26.590913999999998

In [ ]:
best_r2_xgbr = max(vector_r2_xgbr)
best_r2_xgbr

0.32656919431126397

In [ ]:
# Saber cuál es el mejor de los valores con todos los modelos que trabajamos
models = {'Random Forest':best_r2_RF, 'Lasso':best_r2_Lasso, 'Ridge':best_r2_Ridge, 'Gradient Boosting':best_r2_gbr, 'XGRBF':best_r2_xgbr}
models

{'Random Forest': 0.816847094521912,
 'Lasso': 0.45639479586594145,
 'Ridge': 0.4603571293098536,
 'Gradient Boosting': 0.8162717606141281,
 'XGRBF': 0.32656919431126397}